
.experience-container{
    @include container;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 40px;


    h1{
        padding: 0px 0px 0px 16px;
    }

    .about-me-title{
        div{
            &::after{
                margin-left: 16px;
            }
        }
    }

    @include media{
        padding: 50px;
    }

    .experience-card{
        width: 100%;
        height: 600px;
        max-height: 600px;
        position: relative;
        margin-top: 100px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        color: rgb(114, 114, 114);
        background-color: rgba(128, 128, 128, 0.075);
        border: rgba(138, 138, 138, 0.384) solid 1px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

        @include media{
            margin-top: 40px;
            height: 400px;
        }

        .experience-slide{
            z-index: 1;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            border-radius: 10px;
            top: 0;
            left: 0;
            display: none;
            overflow: hidden;

            div{
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                max-height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 180px 32px 70px 32px;
                overflow-y: hidden;
                // margin-top: auto;
                // margin-bottom: auto;

                @include media{
                    padding: 0px 80px 0px 280px;
                }
                

                p{
                    text-align: justify;
                    font-size: 1.2rem;
                    overflow-y: scroll;
                    max-height: 400px;


                    &::-webkit-scrollbar{
                        display: none;
                    }
    
                    @include media{
                       
    
                    }
    
                }
            }

        
        }

        .next{
            z-index: 2;
            color: rgba(0, 0, 0, 0.301);
            position: absolute;
            text-align: center;
            font-size: 30px;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%)  rotateZ(90deg);

            &:hover{
                color: black;
            }

            @include media{
                left: 95%;
                bottom: 50%;
                transform: translateY(50%);
            }
        }

        

        .dots{
            z-index: 1;
            position: absolute;
            display: flex;
            flex-direction: column;
            top : 50%;
            transform: translateY(-50%);
            align-items: center;
            justify-content: center;
            right: 12px;
            

            @include media{
                top: 93%;
                left: 50%;
                transform: translateX(-50%);
                flex-direction: row;
            }

            .dot{
                width: 10px;
                height: 10px;
                border: black solid 1px ;
                border-radius: 50%;
                margin-top: 10px;

                &:hover{
                    background-color: rgba(0, 0, 0, 0.247);
                }

                @include media{
                    margin-top: 0px;
                    margin-left: 10px;
                }
            }
        }

        .floating-img{
            z-index: 3;
            position: absolute;
            top: 0;
            transform: translateY(-30%) translateX(-50%);
            left: 50%;
            width: 200px;
            max-width: 300px;
            height: 200px;
            background-color: red;
            border-radius: 10px;

            @include media{
                width: 300px;
                height: 300px;
                left: 0;
                top: 50%;
                transform: translateY(-50%) translateX(-20%);
            }
        }
    }
}

.active{
    background-color: rgba(0, 0, 0, 0.452);
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}